html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 7rem;
    text-align: center;
}
h2 {
    font-size: 5rem;
    margin: 50px 0;
}
p {
    font-size: 1.8rem;
}
a{
    text-decoration: none;
    transition: all 0.5s;
}
.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.nav-bar {
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #001453;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.nav-bar a:link, .nav-bar a:visited {
    color: #001453;
}
.nav-bar a:hover {
    color: #ff8000;
    text-decoration: underline;
}
.nav-menu-item {
    margin: 0.2em;
    padding: 0.6em;
}
.nav-title {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
}
header {
    background-color: #001453;
    min-height: 30vh;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 30px;
}
.price-calculator-section {
    justify-content: center;
}
.price-calculator {
    width: 600px;
    border: solid #001453 2px;
    margin: 50px;
    padding: 10px;
}
.calculator-headings {
    justify-content: space-between;
    align-items: center;
}
.page-views-counter {
    display: flex;
    gap: 10px;
}
.price-counter {
    align-items: center;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #001453;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #001453;
    cursor: pointer;
}
.month-yearly-toggle-div {
    margin-right: 50px;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.yearlyDiscountSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.yearlyDiscountSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.discountToggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.discountToggle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .discountToggle {
    background-color: #001453;
}
input:focus + .discountToggle {
    box-shadow: 0 0 1px #001453;
}
input:checked + .discountToggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.discount-text {
    background-color: #FFFF00;
    padding: 5px;
    font-size: 1.5rem;
}
.benefits-parent {
    justify-content: space-between;
    align-items: center;
}
.benefits {
    align-items: center;
    gap: 10px;
}
.benefits-check {
    width: 20px;
    height: 20px;
}
.trial-start-button {
    transition: all 0.5s;
    color: #001453;
    border: solid #001453 2px;
    background-color: transparent;
    border-radius: 10px;
    width: 190px;
    height: 50px;
    font-size: 1.5rem;
    margin-right: 50px;
}
.trial-start-button:hover {
    color: #ffffff;
    background-color: #001453;
    border-color: #001453;
}
footer {
    background-color: #ffffff;
    padding: 40px 0;
    justify-content: center;
}
footer div {
    gap: 25px;
}
.footer-item a {
    color:#001453;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.25rem;
}

.footer-item a:hover {
    color: #bdbdbd;
}
@media screen and (max-width: 700px) {
    html {
        font-size: 2vw;
    }
    h1 {
        font-size: 7rem;
    }
    h2 {
        font-size: 5rem;
    }
    .nav-bar{
        flex-direction: column;
    }
    .month-yearly-toggle-div {
        margin-right: 0;
    }
    .benefits-parent {
        flex-direction: column;
        margin-right: 0;
    }
}